extends layout

block content
  h1= title
  if user
    p Welcome back, #[strong #{user.username}]!
    if user.vip 
      p You are a VIP!
      if user.admin 
        p And an admin!
    else 
      p You are not a VIP. Apply for VIP #[a(href='/vip-apply') here].
  else
    p Welcome to the #{title}.
  if user
    a(href='/logout') Log out
  else 
    a(href='/sign-up') Sign up
    br
    a(href='/login') Log in
  h2 Messages 
  if !messages.length
    p No messages yet.
  else 
    div.messages
      for message in messages 
        div.message
          div.info
            if (user && (user.vip || message.author.id === user.id))
              div.author(style='font-weight:bold')=message.author.username 
              div.userType=(message.author.admin ? '(Admin)' : message.author.vip ? '(VIP)' : '(Regular)')
              div.posted=`| ${message.dateFormatted}`
            else 
              div.hidden #[strong ???]
          div.text=message.text 
          if (user && (user.admin || message.author.id === user.id)) 
            form(method='post' action='/msg-delete')
              label(for="message")
              input(type="hidden" name='message' value=message._id) 
              button.msg-delete Delete
  if user
    form#messagePost(method='post')
      label(for="text")
      input#text(type="text" name='text' placeholder='Your message' required min=1)
      button(type="submit") Post   
      if errors 
        for error in errors
          p=error.msg