extends layout

block content
  div.top
    h1 VIP Club
    ul.top-links
      if user
        li
          a(href='/logout') Log out
      else 
        li 
          a(href='/sign-up') Sign up
        li
          a(href='/login') Log in
  if user
    p Welcome back, #[strong #{user.username}]!
    if user.vip
      p You are a VIP!
      if user.admin 
        p You are an admin!
    else 
      p You are not a VIP. Apply for VIP #[a(href='/vip-apply') here].
  else
    p Welcome to the #{title}. Create a free account to chat!
  h2 Chat
  if !messages.length
    p No messages yet.
  else 
    div.messages-container
      div.messages
        for message in messages 
          div.message
            div.info
              if (user && (user.vip || message.author.id === user.id))
                div.author(style='font-weight:bold')=message.author.username 
                div.userType=(message.author.admin ? '(Admin)' : message.author.vip ? '(VIP)' : '(Regular)')
                div.posted=`| ${message.dateFormatted}`
                if (user.admin) 
                  form(method='post' action='/msg-delete')
                    label(for="message")
                    input(type="hidden" name='message' value=message._id) 
                    button.msg-delete Delete
              else 
                div.hidden #[strong ???]
            div.text=message.text 
  if user
    form#messagePost(method='post')
      label(for="text")
      input#text(type="text" name='text' placeholder='Your message' required min=1)
      button(type="submit") Post   
      if errors 
        for error in errors
          p=error.msg